* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 0;
  background: linear-gradient( 109.6deg, rgba(156, 252, 248, 1) 11.2%, rgba(110, 123, 251, 1) 91.1% );
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

header {
  position: fixed;
  margin: 0;
  z-index: 2000;
  width: 100%;
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
  color: ivory;
}

li {
  list-style-type: none;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
}

/* main {
  
} */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  list-style: none;
}

.nav-link {
  list-style-type: none;
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}

.nav-menu {
  position: static;
  flex-direction: row;
  justify-content: right;
  gap: 2%;
}

.skillist {
  background-position: 40% 60%;
  background-color: yellow;
  background-clip: text;
}

.skill {
  text-align: left;
  padding-left: 40%;
  /* background-color: yellow; */
}

.edulist {
  padding-left: 40%;
  text-align: left;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
  font-size: 20px;
}

.sump {
  padding-left: 40%;
  text-align: left;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
  width: 70%;
}

/* .subskill {
  background-color: orangered;
} */

#Hi {
  font-size: 24px;
}

#Home {
  padding-top: 5rem;
}
